section.main.css-uf99v8.e1g8pov65{
    background-color: rgb(252, 186, 99);
}

div.css-1nm2qww.e1akgbir2{
    background-color: rgb(254, 215, 163);
}

div.css-6qob1r.e1akgbir3{
    background-color: rgb(254, 215, 163);
}

head.css-1pn1180{
    background-color: rgb(252, 186, 99);
}

header.css-1pn1180.e13qjvis2{
    background:rgb(252, 186, 99) ;

}